@import "libraries/base/index-base";
@import "libraries/bourbon/bourbon";
@import "libraries/neat/neat";
@import "libraries/helpers/index-helpers";
@import "libraries/layout/index-layout";

// body {
//   background-color: $color-secondary;
//   p {
//     font-size: 1em;
//   }
// }

@media only screen and (min-width: 768px) {

  .entire-menu {
    display: none;
  }

  .menu-list {
    display: block;
    @include list-items(inline);
  }

  .nav-top {
    padding-top: 22px;
    padding-left: 20px;
  }

}
